#header, #footer, #menu, #breadcrumb, #chooseProduct, img.inCenter, .award, .helpBubble, .loginBox, .subPage #content .newsLinks, input, .bx-wrapper, .bx-viewport, #nearestBranch, #hpMap, .otherText .linkArrow, #monthlyPayment, .icoInformation, .errorBox, #contactFormHolder, .linksHolder, .printDn, .moreBonusLink {
    display: none !important;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #424548;
}

.productBox {
    margin-bottom: 30px;
}

form input[type="text"], form textarea {
    border: 0;
    width: auto;
    margin: 0;
    padding: 0;
    float: none;
    height: auto;
    background: none;
    font-weight: bold;
    clear: none;
    text-indent: 0;
    text-align: left;
    display: none;
}

.valueInput {
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 0;
    width: auto;
    float: none;
    font-weight: bold;
}

form #showChildAge {
    clear: both;
    width: auto;
    float: none;
    margin: 0;
    text-align: left;
}

form #showChildAge .childText {
    width: 100%;
    clear: both;
    text-align: left;
    display: block;
}

form .afterInput {
    float: none;
    display: inline-block;
    margin: 0;
    line-height: normal;
    text-align: left;
    width: auto;
}

form label {
    width: 300px;
    display: inline-block;
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.jquery-checkbox {
    display: none;
}

.jquery-checkbox + label {
    margin: 0;
    padding: 0;
}

table.w480 {
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
}

table.w480 tr th, table.w480 tr td {
    text-align: left;
    padding: 0;
    margin: 0;
}

table.w480 tr th {
    width: 305px;
}

.inputInfo {
    clear: both;
    display: block;
    margin: 0 0 0 303px;
    padding: 0;
}

#needsNavigation .needBox, #branchHolder .branchItem {
    display: block;
    width: auto;
    padding: 0;
    margin-bottom: 20px;
    text-decoration: none;
}

#needsNavigation .needBox .needTitle, #branchHolder .branchTitle {
    display: block;
    text-decoration: underline;
}

#needsNavigation .needBox .needText, #branchHolder .address {
    clear: both;
    text-decoration: none;
}

#needsNavigation .needBox .needImage, #needsNavigation .needBox .mainNeedsHover, .cleaner, #needsNavigation .needBox .needLink, #branchHolder .branchImage, #branchHolder .branchLink {
    display: none;
}

.col-half.left .ulDefault {
    margin-bottom: 30px;
}

.col-half.left .tip {
    margin-bottom: 30px;
}

.subPage #content .tip .tipTitle {
    margin: 0 0 20px;
    padding: 0;
    height: 0;
}

.subPage #content .boxBorder .boxTitle, .subPage #content .boxBorder p, .subPage #content .moreAboutProduct .moreBox .moreIn .title, .subPage #content .moreAboutProduct .moreBox .moreIn p {
    margin: 0 0 5px;
    padding: 0;
}

.subPage #content .boxBorder .subBox, .subPage #content .moreAboutProduct .moreBox .moreIn, .subPage #content .moreAboutProduct .links {
    margin-bottom: 30px;
}

#content .tableHolder tr th, #content .tableHolder tr td {
    text-align: left;
}

ul.links, ul.ulDefault, .ulBlank {
    padding-left: 25px;
}

.productInfobox {
    margin-bottom: 20px;
}

.title, .subtitle {
    font-weight: bold;
    margin-bottom: 15px;
}

.productInfobox p {
    margin: 0;
    padding: 0;
}

.productBox .productBoxIn #productInformation form .formTitle {
    display: block;
    width: 100%;
}

.productBox .productBoxIn #productInformation form .mainButton {
    margin: 0;
}

.subPage #content .tableHolder .products tr td.firstCol, .subPage #content .tableHolder .products tr th.firstCol, .subPage #content .tableHolder .products tr td.secondCol, .subPage #content .tableHolder .products tr th.secondCol, .subPage #content .tableHolder .products tr td.thirdCol, .subPage #content .tableHolder .products tr th.thirdCol, .subPage #content .tableHolder .products tr td.fourthCol, .subPage #content .tableHolder .products tr th.fourthCol {
    display: block;
}

.subPage #content .tableHolder .products tr td .tableBox.second .label, .subPage #content .tableHolder .products tr th .tableBox.second .label {
    display: inline-block;
    clear: both;
    float: left;
}

.subPage #content .tableHolder .products tr td .tableBox.second strong, .subPage #content .tableHolder .products tr th .tableBox.second strong {
    float: left;
}

.subPage #content .tableHolder .products tr td a, .subPage #content .tableHolder .products tr th a {
    display: none;
}

.subPage #content .detailTable tr th, .subPage #content .detailTable tr td {
    text-align: left;
}

table.legalInfo td, table.legalInfo th {
    text-align: left;
}

.contactRight {
    float: none;
    margin-top: 10px;
    clear: both;
}