#header, #footer, #menu, .productBox, .helpBubble, input, .otherText .linkArrow, #monthlyPayment, .icoInformation, .errorBox, #contactFormHolder, .linksHolder, .printDn, .moreBonusLink {
    display: none !important;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #424548;
}

form input[type="text"] {
    border: 0;
    width: auto;
    margin: 0;
    padding: 0;
    float: none;
    height: auto;
    background: none;
    font-weight: bold;
    display: inline;
    clear: none;
    text-indent: 0;
    text-align: left;
    display: none;
}

.valueInput {
    display: inline-block;
    text-align: left;
    margin: 0;
    padding: 0;
    width: auto;
    float: none;
    font-weight: bold;
}

form #showChildAge {
    clear: both;
    width: auto;
    float: none;
    margin: 0;
    text-align: left;
}

form #showChildAge .childText {
    width: 100%;
    clear: both;
    text-align: left;
    display: block;
}

form .afterInput {
    float: none;
    display: inline-block;
    margin: 0;
    line-height: normal;
    text-align: left;
    width: auto;
}

form label {
    width: 300px;
    display: inline-block;
    float: none;
    clear: both;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.jquery-checkbox {
    display: none;
}

.jquery-checkbox + label {
    margin: 0;
    padding: 0;
}

table.w480 {
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
}

table.w480 tr th, table.w480 tr td {
    text-align: left;
    padding: 0;
    margin: 0;
}

table.w480 tr th {
    width: 305px;
}

.inputInfo {
    clear: both;
    display: block;
    margin: 0 0 0 303px;
    padding: 0;
}