@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic&subset=latin,latin-ext,vietnamese);

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #424548;
    background-color: #0a4780;
}

html, body {height: 100%; }

ol, ul {list-style: none; margin: 0; padding: 0 }

p {padding: 0 0 20px 0; line-height: 20px;}

a {
    color: #ed1c24;
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
    text-decoration: none;
}

p a:hover {
    text-decoration: none;
}

.mt20 {
    margin-top: 20px;
}

#main {
    position: relative;
    background: #f1fafe;
    width: 100%;
    padding-bottom: 40px;
}

.cleaner{clear:both;display:block;height:0;line-height:0;overflow:hidden;border:0;padding:0;margin:0;}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#header {
    min-height: 235px;
    position: relative;
    width: 100%;
}

#header #logo {
    position: absolute;
    left: 7px;
    top: 13px;
}

#header #logo a {
    display: inline-block;
    text-decoration: none;
}

#header #logo a span {
    display: none;
}

#header #pcsLogo {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    top: 48px;
    left: 134px;
}

#headerText {
    color: #00427a;
    font-size: 25px;
    font-style: italic;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 120px;
    line-height: 30px;
}

#headerText span {
    color: #eb1c26;
}

#signPost {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 0 8px rgba(102,150,191,0.28);
    -webkit-box-shadow: 0 0 8px rgba(102,150,191,0.28);
    -moz-box-shadow: 0 0 8px rgba(102,150,191,0.28);
    border: 1px solid #ffffff;
    margin-bottom: 30px;
}

#signPost a {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 30px 0;
}

#signPost a .image {
    width: 100%;
    height: 60px;
    display: table;
    margin-bottom: 25px;
}

#signPost a .image span {
    display: table-cell;
    vertical-align: middle;
}

#signPost a .text {
    color: #424548;
    font-size: 18px;
    line-height: 21px;
    display: block;
    margin-bottom: 10px;
}

#signPost a .link {
    font-size: 15px;
    color: #ed1b24;
    text-decoration: underline;
}

#signPost a:hover .link {
    text-decoration: none;
}

.imgFull {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    line-height: 25px;
    color: #096abf;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 0;
}

.links {
    margin: 0 0 15px;
    padding: 0;
}

.links li {
    color: #2a2a2a;
    font-size: 18px;
}

.links li a {
    color: #ed1b24;
    font-size: 18px;
}

p.mb30 {
    margin-bottom: 30px;
}

h3 {
    color: #ec1d25;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

address {
    color: #2a2a2a;
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
}

address .bl {
    display: inline-block;
    margin-bottom: 10px;
}

.inLeft {
    margin-bottom: 25px;
}

#footer {
    width: 100%;
    background: #0a4780;
    padding: 40px 0 30px 0;
}

.footerLogo {
    margin-right: 15px;
}

#footer .footerLeft {
    margin-bottom: 20px;
}

#footer .footerRight {
    color: #5a9edb;
    font-size: 18px;
}

#footer .footerRight span {
    color: #ffffff;
}

#footer .footerRight a {
    color: #ffffff;
    font-size: 18px;
}

#footer .footerRight li {
    margin-bottom: 5px;
}

#footer .footerDivider {
    background: url("../images2/footerShadow.jpg") no-repeat center top;
    width: 100%;
    height: 14px;
    margin: 20px 0 0;
    display: none;
}

#footer .copy {
    color: #5a9edb;
    font-size: 16px;
    margin-top: 20px;
}

@media (min-width: 568px) {
    #headerText {
        font-size: 30px;
        line-height: 34px;
        width: 370px;
        margin-left: 20px;
    }

    #footer .footerDivider {
        display: block;
    }

    #footer .footerLeft {
        float: left;
    }

    #footer .footerRight {
        float: right;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .inLeft, .inRight {
        float: left;
        width: 50%;
        margin-bottom: 0;
    }

    #header {
        min-height: 305px;
    }

    h2 {
        font-size: 36px;
        line-height: normal;
    }

    h3 {
        font-size: 24px;
    }

    #headerText {
        padding-top: 150px;
    }

    #signPost a {
        width: 33.3333%;
        float: left;
    }

    #signPost a .image img {
        max-width: 85%;
    }

    #signPost a .text {
        max-width: 240px;
        margin: 0 auto 10px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
        padding: 0;
    }

    #signPost {
        padding: 0 27px;
    }

    #signPost a.divider {
        background: url("../images3/divider.png") no-repeat right top;
    }

    .basicPadding {
        padding: 0 27px;
    }

    #main {
        background: #f1fafe url("../images3/bg.jpg") no-repeat center top;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1014px;
    }

    #footer .footerRight {
        margin-right: 120px;
    }
}