/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic&subset=latin,latin-ext,vietnamese);*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #424548;
    background-color: #0a4780;
}

html, body {height: 100%; }

ol, ul {list-style: none; margin: 0; padding: 0 }

p {padding: 0 0 20px 0; line-height: 20px;}

a {
    color: #ed1c24;
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
    text-decoration: none;
}

p a:hover {
    text-decoration: none;
}

.mt20 {
    margin-top: 20px;
}

#main {
    position: relative;
    background: #f1fafe;
    width: 100%;
}

.cleaner{clear:both;display:block;height:0;line-height:0;overflow:hidden;border:0;padding:0;margin:0;}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#header {
    min-height: 128px;
    position: relative;
    width: 100%;
}

#header #logo {
    position: absolute;
    left: 7px;
    top: 13px;
}

#header #logo a {
    display: inline-block;
    text-decoration: none;
}

#header #logo a span {
    display: none;
}

#header #pcsLogo {
    display: inline-block;
    text-decoration: none;
    position: absolute;
    top: 48px;
    left: 134px;
}

#header .headerLink {
    color: #e71538;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    margin-top: 120px;
    margin-bottom: 20px;
}

.ulDefault {
    padding-top: 15px;
}

.ulDefault li {
    background: url("../images2/li.png") no-repeat left 6px;
    color: #005aab;
    font-size: 18px;
    font-weight: 600;
    padding-left: 12px;
    margin-bottom: 25px;
}

.mainButton {
    display: table!important;
    background: #ed1c24;
    height: 54px;
    width: auto;
    padding: 0 30px;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-shadow: 0 2px 1px rgba(32,27,17,0.18);
    font-style: normal;
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    position: relative;
    border: 1px solid #ed1c24;
    box-shadow: inset 0 0 3px 0 rgba(252,250,224,0.75),inset 0 30px 81px -56px rgba(255,255,255,0.43);
    -webkit-box-shadow: inset 0 0 3px 0 rgba(252,250,224,0.75),inset 0 30px 81px -56px rgba(255,255,255,0.43);
    -moz-box-shadow: inset 0 0 3px 0 rgba(252,250,224,0.75),inset 0 30px 81px -56px rgba(255,255,255,0.43);
}

.mainButton:hover {
    border: 1px solid #043660;
    background: #00427a;
}

.mainButton span {
    display: table-cell;
    vertical-align: middle;
    color: #fff!important;
}

#application {
    margin: 25px 0;
}

#application .title {
    color: #00427a;
    font-style: italic;
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 25px;
}

#application .mainButton {
    font-size: 24px;
}

#tabsHolder {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
}

.tabNavigation li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.tabNavigation li a {
    display: inline-block;
    background: #0d73c4;
    height: 43px;
    line-height: 43px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-decoration: none;
    box-shadow: inset 0 -2px 3px rgba(0,0,0,0.25);
    -webkit-box-shadow: inset 0 -2px 3px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0 -2px 3px rgba(0,0,0,0.25);
}

.tabNavigation li a.selected {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: #fff;
    color: #005aab;
    -webkit-box-shadow: 0px -3px 10px -2px rgba(194, 217, 235, 0.75);
    -moz-box-shadow:    0px -3px 10px -2px rgba(194, 217, 235, 0.75);
    box-shadow:         0px -3px 10px -2px rgba(194, 217, 235, 0.75);
}

.tabContainer {
    margin-top: 20px;
}

h2 {
    font-size: 24px;
    line-height: 25px;
    color: #096abf;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 0;
}

ol.custom {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}

ol.custom li {
    color: #424548;
    font-size: 18px;
    line-height: 21px;
    clear: both;
}

ol.custom li span {
    float: left;
    max-width: 90%;
    margin-bottom: 20px;
}

ol.custom li:before {
    display: inline-block;
    content: counter(item) ".";
    counter-increment: item;
    color: #ed1c24;
    font-size: 18px;
    font-weight: 600;
    float: left;
    margin-right: 5px;
}

.tabContainer .ulDefault {
    padding: 0;
}

.tabContainer .ulDefault li {
    color: #424548;
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    margin-bottom: 10px;
}

h3 {
    color: #ed1c24;
    font-size: 21px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.typeHolder {
    margin-top: 30px;
    margin-bottom: 20px;
}

.typeHolder img {
    display: block;
    margin: 0 auto 15px;
}

ol.custom.questions li span strong {
    color: #096abf;
    display: block;
    margin-bottom: 10px;
}

ol.custom.questions li span span {
    float: none;
    margin-bottom: 0;
}

ol.custom.questions li .ulDefault li:before {
    counter-increment: none;
    float: none;
    content: "";
    margin: 0;
    pading: 0;
}

#footer {
    width: 100%;
    background: #0a4780;
    padding: 40px 0 30px 0;
}

.footerLogo {
    margin-right: 15px;
}

#footer .footerLeft {
    margin-bottom: 20px;
}

#footer .footerRight {
    color: #5a9edb;
    font-size: 18px;
}

#footer .footerRight span {
    color: #ffffff;
}

#footer .footerRight a {
    color: #ffffff;
    font-size: 18px;
}

#footer .footerRight li {
    margin-bottom: 5px;
}

#footer .footerDivider {
    background: url("../images2/footerShadow.jpg") no-repeat center top;
    width: 100%;
    height: 14px;
    margin: 20px 0 0;
    display: none;
}

#footer .copy {
    color: #5a9edb;
    font-size: 16px;
    margin-top: 20px;
}

@media (min-width: 568px) {

    #footer .footerDivider {
        display: block;
    }

    #footer .footerLeft {
        float: left;
    }

    #footer .footerRight {
        float: right;
    }

    #header .headerLink {
        margin: 0;
        position: absolute;
        right: 27px;
        top: 80px;
    }

    .tabContainer {
        margin-top: 0;
    }

    .tabNavigation {
        position: relative;
        top: -53px;
    }

    .tabNavigation li {
        float: left;
        width: auto;
        margin-right: 10px;
        margin-bottom: 0;
    }

    .tabNavigation li a {
        height: 53px;
        line-height: 53px;
        width: auto;
        padding: 0 20px;
        position: relative;
        z-index: 100;
    }

    #tabsHolder {
        background: #fff;
        box-shadow: 0 0 3px rgba(194,217,235,0.75);
        -webkit-box-shadow: 0 0 3px rgba(194,217,235,0.75);
        -moz-box-shadow: 0 0 3px rgba(194,217,235,0.75);
        margin-top: 90px;
        position: relative;
        z-index: 200;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    .typeHolder img {
        float: left;
        margin: 0;
    }

    .typeHolder .text {
        float: left;
        margin-left: 20px;
        width: 555px;
    }

    .typeHolder .text ol.custom li span {
        max-width: 525px;
    }

    h2 {
        font-size: 36px;
        line-height: normal;
    }

    h3 {
        font-size: 24px;
        line-height: normal;
    }

    .ulDefault {
        padding-left: 15px;
    }

    #tabsHolder {
        margin-top: 146px;
    }

    .tabNavigation li a {
        font-size: 24px;
        padding: 0 27px;
    }

    #application {
        position: absolute;
        right: 50px;
        top: 30px;
    }

    ol.custom li:before {
        margin-right: 10px;
    }
    ol.custom li span {
        max-width: 660px;
    }

    .tabContainer {
        padding-left: 27px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
        padding: 0;
    }

    .basicPadding {
        padding: 0 27px;
    }

    #application {
        right: 70px;
    }

    #main {
        background: #f1fafe url("../images2/bg.jpg") no-repeat center top;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1014px;
    }

    #footer .footerRight {
        margin-right: 120px;
    }

    #application {
        right: 93px;
    }
}